!!!5
html
  head
    title Standalone.sample
    script(src="http://localhost:3000/socket.io/socket.io.js")
    script(type="text/javascript")
  body
    h1 Standalone Sample
    p Welcome to Standalone Sample



